#index{
  box-sizing: border-box;
  .topBanner {
    width: 100%;
    height: 200px;
    margin-top: 40px;
  }
  .themeActive {
    width: 85%;
    height: 100px;
    margin: 5px 10px;
  }
  .tbuild {
    width: 100%;
    height: 142px;
  }
}